<form action="/send" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Заголовок</label>
        <input type="text" class="form-control" placeholder="Введите заголовок сообщния" name="header">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Текст</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

